# root directory
node_modules/
files/
images/
videos/
package-lock.json
.env


# src_node
src_node/.env


# react client directory
client_react/node_modules/
client_react/build/
client_react/package-lock.json
